body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  
  background-color: #5ca1d7;
}
list {
  text-align: center;
}
top {
  align-content: center;
}


blockquote {
  max-width: 300px;
  margin: 0 auto;
  color:White;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  max-height: 400px;
}
h1:hover{
  color:White;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: white(--headline-color-on-blue);
}
h2 {
  text-align: center;
}

  